/* TUNGSTEN */

@font-face {
    font-style: normal;
    font-weight: 600;
    font-family: tungsten;
    src: url( ../fonts/Tungsten/Tungsten-Semibold.otf ) format('opentype');
}

/* HELVNEUE */

@font-face {
    font-style: normal;
    font-weight: 200;
    font-family: helvneue;
    src: url( ../fonts/HelvNeueforIBM/HelvNeueforIBM-Light.otf ) format('opentype');
}

@font-face {
    font-style: normal;
    font-weight: 400;
    font-family: helvneue;
    src: url( ../fonts/HelvNeueforIBM/HelvNeueforIBM-Medium.otf ) format('opentype');
}

@font-face {
    font-style: normal;
    font-weight: 700;
    font-family: helvneue;
    src: url( ../fonts/HelvNeueforIBM/HelvNeueforIBM-Bold.otf ) format('opentype');
}
