body {
  margin: 0;
  font-family: helvneue, Arial, sans-serif;
  background: #004b85 url(../img/uso_background.jpg) top repeat-x fixed;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container {
  width: 1000px;
  margin: auto;
}

/* header */

.sub-header.fixed {
  position: fixed;
  top: 79px;
  z-index: 20;
  width: 1000px;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 1s;
          transition: all 1s;
}
.sub-header.fixed.active {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
@media screen and (max-width: 1024px) {
  .sub-header.fixed { top: 0; }
}

/* about */

.about {
  position: relative;
  padding: 16px 14px 8px 14px;
  background-color: #1f9757;
  background-image: url(../img/about_background.png);
  background-position: top right;
  background-repeat: no-repeat;
  font-family: 'lubalin';
  font-size: 24px;
  font-weight: 300;
  color: #fff;
}
.about.extended {
  padding: 35px 40px 30px;
}
.about .title span {
  font-weight: bold;
  color: #c9ff2e;
}
.about .title span:after {
  content: '.';
  opacity: 0;
  filter: alpha(opacity=0);
}
.about.extended .title {
  margin-bottom: 12px;
}
.about .extra {
  display: none;
  overflow: hidden;
  width: 75%;
  font-family: 'helvneue';
  font-size: 15px;
}
.about.extended .extra {
  display: block;
}
.about .logo-ibm {
  width: 60px;
  position: absolute;
  top: 16px;
  right: 14px;
}
.about.extended .logo-ibm {
  width: 74px;
}

/* filters */

.filters {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  background: #005f9a; /* Old browsers */ /* FF3.6+ */

}
.filters-dropdown { display: none; }
.filters li {
  cursor: pointer;
  float: left;
  margin-right: 10px;
  padding: 10px 10px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}
.filters li.filters2 {
  cursor: default;
}

.filters li.active,
.filters li:hover {
  color: #ffd21e;
}

.filters li.filters2:hover {
  color: #fff;
}

.filters2-dropdown { display: none; }
.filters2 li {
  float: left;
  margin-right: 10px;
  padding: 10px 10px;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

/* grid */

.grid {
  /*transition: margin 0.6s;*/
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  /*margin-top: 298px;*/
  background: #01254c;
  font-size: 0px;
}
.grid li {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
}
.grid li.active {
  margin-bottom: 400px;
}

/* thumbnail */

.grid li .preview {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  width: 250px;
  height: 250px;
}
.grid li .preview:hover {
  background: #ddd;
}
.grid li .preview img,
.grid li .preview video,
.grid li .preview iframe,
.grid li .preview canvas {
  display: block;
  width: 100%;
}
.grid li .preview .share {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 50px;
  background-image: url(../img/share@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 20px;
  opacity: 0.7;
}
.grid li .preview .play {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 50px;
  background-image: url(../img/play@2x.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 20px;
  opacity: 0.7;
}

/* thumbnail caret */

.grid li.active .preview:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  content: ' ';
  width: 0;
  height: 0;
  border: solid transparent;
  border-bottom-color: #222;
  border-width: 15px;
  margin-left: -15px;
}

/* thumbnail overlay */

.grid li .preview:hover:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: ' ';
  background: rgba(255, 255, 255, 0.2);
}

/* expanded content */

.grid li .content {
  display: none;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  z-index: 10;
  width: 1000px;
  height: 400px;
  background: #000000;
  text-align: center;
}
.grid li.active .content {
  display: block;
}
.grid li .content .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  width: 37px;
  height: 40px;
  background-size: contain;
  background-image: url(../img/close@2x.png);
  background-repeat: no-repeat;
}
.grid li .content .close:hover {
  background-image: url(../img/close_over@2x.png);
}
.grid li .content img,
.grid li .content video,
.grid li .content iframe,
.grid li .content canvas {
  display: inline-block;
  width: 380px;
  height: 380px;
  margin-top: 10px;
}

/* share buttons */

.share-buttons {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.share-buttons a {
  display: block;
  float: left;
  width: 43px;
  height: 43px;
  margin-left: 10px;
  background-size: 43px 43px;
  background-repeat: no-repeat;
}

.share-buttons .share-facebook {
  background-image: url(../img/share_facebook@2x.png);
}
.share-buttons .share-facebook:hover {
  background-image: url(../img/share_facebook_over@2x.png);
}
.share-buttons .share-twitter {
  background-image: url(../img/share_twitter@2x.png);
}
.share-buttons .share-twitter:hover {
  background-image: url(../img/share_twitter_over@2x.png);
}
.share-buttons .share-linkedin {
  background-image: url(../img/share_linkedin@2x.png);
}
.share-buttons .share-linkedin:hover {
  background-image: url(../img/share_linkedin_over@2x.png);
}
.share-buttons .share-google {
  background-image: url(../img/share_google@2x.png);
}
.share-buttons .share-google:hover {
  background-image: url(../img/share_google_over@2x.png);
}

/* sponsor logos */

.sponsor-logos {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.sponsor-logos a {
  display: block;
  float: left;
  width: 55px;
  height: 55px;
  margin-left: 10px;
  background-size: 55px 55px;
  background-repeat: no-repeat;
}

.sponsor-logos .logo-ibm {
  background-image: url(../img/logo_ibm@2x.png);
}
.sponsor-logos .logo-us-open {
  background-image: url(../img/logo_us_open@2x.png);
}

/* legal */

.legal {
  margin: 0;
  padding: 20px;
  color: #ccc;
  background: #01254c;
  text-align: center;
  font-size: 13px;
  font-style: italic;
}

/* mobile */

@media screen and (max-width: 700px) {

  .container {
    width: 100%;
  }

  .sub-header.fixed {
    width: 100%;
    top: 0;
  }

  .about {
    padding: 8px 8px 3px;
    background-color: #209858;
    background-image: url(../img/about_background_mobile.png);
    background-position: bottom right;
    background-size: 123px 213px;
    background-repeat: no-repeat;
  }
  .about.extended {
    padding: 15px 15px 25px;
  }
  .about .title {
    font-size: 18px;
  }
  .about.extended .title {
    font-size: 28px;
  }
  .about .title span {
    display: block;
  }
  .about .logo-ibm {
    width: 45px;
    top: auto;
    bottom: 18px;
  }
  .about.extended .logo-ibm {
    width: 50px;
    top: auto;
    bottom: 10px;
  }

  .filters { display: none; }
  .filters-dropdown {
    cursor: pointer;
    display: block;
    width: 100%;
    margin: 0;
    padding: 10px 10px;
    background: 005f9a;
    border: none;
    border-radius: 0;
    font-size: 18px;
    color: #fff;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }

  .grid {
    margin-top: 0;
    padding: 0 10px;
    background: #004378;
  }
  .grid li {
    display: block;
  }
  .grid li .preview {
    width: 100%;
    height: auto;
  }
  .grid li .content {
    position: fixed;
    z-index: 30;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0.7);
  }
  .grid li .content .close {
    width: 56px;
    height: 60px;
  }

  .grid li.active { margin-bottom: 0; }
  .grid li.active .preview:after { display: none; }

  .grid li .preview:hover:before { display: none; }

  .share-buttons {
    top: 50%;
    bottom: auto;
    left: 50%;
    right: auto;
    width: 100%;
    text-align: center;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
  }
  .share-buttons a {
    float: none;
    display: inline-block;
    width: 60px;
    height: 60px;
  }
  .sponsor-logos {
    display: none;
  }
}

@media screen and (max-width: 700px) and (orientation:landscape) {
  .turn-device {
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: #01254c;
    background-image: url(../img/turn_device.png);
    background-repeat: no-repeat;
    background-size: auto 80%;
    background-position: center;
  }
}

#mobileContent { margin: 0 !important; }

/* internet explorer */
.lt-ie9 .grid li .preview .share {
  background-image: url(../img/share.png);
}
.lt-ie9 .grid li .preview .play {
  background-image: url(../img/play.png);
}
.lt-ie9 .grid li .content .close {
  background-image: url(../img/close.png);
}
.lt-ie9 .grid li .content .close:hover {
  background-image: url(../img/close_over.png);
}
.lt-ie9 .share-buttons .share-facebook {
  background-image: url(../img/share_facebook.png);
}
.lt-ie9 .share-buttons .share-facebook:hover {
  background-image: url(../img/share_facebook_over.png);
}
.lt-ie9 .share-buttons .share-twitter {
  background-image: url(../img/share_twitter.png);
}
.lt-ie9 .share-buttons .share-twitter:hover {
  background-image: url(../img/share_twitter_over.png);
}
.lt-ie9 .share-buttons .share-linkedin {
  background-image: url(../img/share_linkedin.png);
}
.lt-ie9 .share-buttons .share-linkedin:hover {
  background-image: url(../img/share_linkedin_over.png);
}
.lt-ie9 .share-buttons .share-google {
  background-image: url(../img/share_google.png);
}
.lt-ie9 .share-buttons .share-google:hover {
  background-image: url(../img/share_google_over.png);
}
.lt-ie9 .sponsor-logos .logo-ibm {
  background-image: url(../img/logo_ibm.png);
}
.lt-ie9 .sponsor-logos .logo-us-open {
  background-image: url(../img/logo_us_open.png);
}
.lt-ie9 .sub-header.fixed {
  display: none;
}

#mobileContent { margin: 0 !important; }
